/* estilos para todo */
h1, h2, h3, h4, h5, h6, p, span, a{
font-family: 'Roboto', sans-serif;
}
button{
    outline: 0;
    cursor: pointer;
}
button:hover, button:focus{
    outline: 0
}
section h3{
    color: #17A1AB;
}
.bg-grey{
    background-color: #E7E5E3;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #17A1AB;
}
/* terminan los estilos para todo */

/* inician estilos de barra de navegacion */
.navbar-light .navbar-nav .nav-link {
    color: black;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}
.LUCOR-link{
    font-size: 30px;
    letter-spacing: 3px;
    padding-right: 1.5rem!important;
    padding-left: 1.5rem!important;
}
.navbar{
    height: 80px;
}
ul.navbar-nav{
    display: flex;
    align-items: center;
}
/* terminan estilos de barra de navegación */

/* inician estilos del home del inicio */
.bg-foto-lucy{
    background-image: url("../img/foto-home.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
}

.wrapper-titulo-home{
    position: absolute;
    bottom: 48px;
    background-color: white;
    height: 65px;
    right: 0;
    width: 70%;
    color: #17A1AB
}
.wrapper-titulo-home h2{
    margin-top: 1rem;
    margin-left: 4rem;
}
.wrapper-titulo-home span{
    font-weight: 900;
}
/* terminan estilos del home del inicio */

/* inician estilos de la sección "acerca de" del inicio */
.acerca-de{
    padding: 60px 0;
    height: 375px;
}
.btn-outline{
    color: black;
    background-color: white;
    border: solid 2px #17A1AB;
    height: 50px;
    width: 225px;
}
.btn-outline:hover{
    color: #E7E5E3;
    background-color:  #17A1AB;
}
/* terminan estilos de la sección "acerca de" del inicio */

/* inician estilos de la sección "portafolio" del inicio */
section.portafolio-home .wrapper-text-cards p{
    padding-top: 20px;
    font-weight: 500;
}
section.portafolio-home{
    padding-top: 40px;
}
section.portafolio-home .wrapper-text-cards{ 
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 450px;
    max-height: 450px;
}
section.portafolio-home .wrapper-text-cards:hover{
    background-color: #17A1AB;
}
section.portafolio-home img{
    width: 250px;
}

/* inician estilos de la seccion de "mas proyectos" */
section.mas-proyectos-home{
    padding-top: 110px;
}
section.mas-proyectos-home h3{
    margin-bottom: 15px;
}
section.mas-proyectos-home .wrapper-text-cards p{
    padding-top: 5px;
    text-align: center;
    margin-bottom: 0rem;
    font-weight: 500;
}
section.mas-proyectos-home .wrapper-text-cards{
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
section.mas-proyectos-home .bg-grey div:hover{
    background-color: #17A1AB;
}
section.mas-proyectos-home img{
    width: 205px;
}

/* terminan estilos de la seccion de "mas proyectos" */

/* empiezan estilos de footer */
.footer{
    padding-top: 40px;
}

.bg-yellow-footer{
    background-color: #272353;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer img{
    text-align: center;
    width: 80px;
    cursor: pointer;   
}
.wrapper-text-footer{
    margin-bottom: -20px;
    margin-top: 15px;
}
.footer h3{
    color: #17A1AB;
    margin-bottom: 10px;
    margin-bottom: 15px;
}
.footer p.text-white{
    font-size: 20px;
    letter-spacing: 4px;
}
/* terminan estilo de footer */

/* empiezan estilos para la vista responsive (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    section.acerca-de {
        padding: 60px 0;
        height: 500px;
    }
    section.acerca-de h3{
        text-align: center;
        margin-bottom: 20px;
    }
    .wrapper-btn-s-acerca-de{
        text-align: center;
        margin-top: 2rem!important;
    }
    .navbar {
        height: auto;
    }
    .wrapper-titulo-home h2{
        margin-left: 0;
    }
}
